* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    display: block;
}

body {
    background-color: #17558b;
}

.logo {
    width: 300px;
    margin: 20px auto;
}


main {
    width: 375px;
    background: #f4f4f4;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;

}

select,
input {
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    border: 1px solid #bbbbbb;
    box-shadow: 3px 3px 3px #cdcdcd;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
    line-height: 18px;
    padding-left: 18px;
}

input {
    padding: 0px;
}

button {
    width: 100%;
    height: 48px;
    background: #17558b;
    color: #f4f4f4;
    font-weight: 700;
    font-size: 18px;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    outline: #17558b solid 2px;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coin-img {
    width: 80px;
    /* box-shadow: 3px 3px 3px #cdcdcd; */
}

.arrow {
    width: 60px;
    margin: 15px;
}
.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.currency{
    color: #777777;
    font-size: 14px;
}
.currency-value{
    color: #555555;
    font-size: 20px;
    font-weight: 700;
}